<!DOCTYPE html>
<html lang="br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Canses</title>
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header class="default-size">
            <div class="flex-custom row-custom default-size navbar shadow center">
                <div class="flex-custom row-custom default-size center">
                    <div class="menu-item margin-right-sm">
                        <a href="sobre.html"><strong>Sobre nós</strong></a>
                    </div>
                    <div class="menu-item">
                        <a href="historia.html">Nossa história</a>
                    </div>
                    <div class="menu-item">
                        <a href="servicos.html">Serviços</a>
                    </div>
                    <div class="menu-item">
                        <a href="clientes.html">Nossos clientes</a>
                    </div>
                    <div class="menu-item">
                        <a href="perguntas.html">Perguntas frequêntes</a>
                    </div>
                    <div class="menu-item">
                        <a href="fale-conosco.html">Fale conosco</a>
                    </div>
                </div>
            </div>
            <img class="logo-header" src="../images/logo.png" alt="Logo">
        </header>
        <main>

        </main>
        <footer class="footer default-size flex-custom column-custom margin-top-lg shadow-reverse">
            <div class="flex-custom">
                <div class="margin-right-md">
                    <img class="logo-footer" src="../images/logo.png" alt="Logo">
                </div>
                <div>
                    <p class="text-reset bold footer-topic">CONTATO</p>
                    <div class="margin-top-sm">
                        <a class="link-reset flex-custom center" href="mailto:contatocanses@gmail.com">
                            <img class="img-icon margin-right-xs" src="../images/mail.png" alt="E-mail">
                            <span>contatocanses@gmail.com</span>
                        </a> 
                    </div>
                </div>
            </div>
            <div class="flex-custom center default-size margin-top-sm">
                <p class="text-reset">© Copyright 2022 Felipe Silva</p>
            </div>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>